#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 2rem 0 3rem;
}

.start-game {
    margin: 50px;
    border: none;
    font-size: 1.5em;
    background-color: darkblue;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    transition: 0.1s;
    cursor: pointer;
}

.start-game:hover {
    font-size: 1.6em;
}

.start-game:disabled {
    background-color: brown;
    cursor: default;
}
.start-game:disabled:hover {
    font-size: 1.5em;
}

img {
    width: 100%;
    display: flex;
    align-items: center;
}

.next-move {
    background-color: cyan;
}

.winner-line {
    background-color: darkgoldenrod;
}